root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.rs]
indent_style = space
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.{sh,bash}]
shell_variant = bash
indent_style = space
indent_size = 2
switch_case_indent = true
space_redirects = true
function_next_line = true
