[package]
name = "ui"
version.workspace = true
license.workspace = true
authors.workspace = true
edition.workspace = true
publish.workspace = true

[lints]
workspace = true

[lib]
name = "ui"
path = "src/ui.rs"

[dependencies]
component = { workspace = true }
gpui = { workspace = true }
icons = { workspace = true }
menu = { workspace = true }
settings = { workspace = true }
smallvec = { workspace = true }
theme = { workspace = true }
ui_macros = { workspace = true }
util = { workspace = true }
