[package]
name = "ui"
version.workspace = true
license.workspace = true
authors.workspace = true
edition.workspace = true
publish.workspace = true

[lints]
workspace = true

[lib]
name = "ui"
path = "src/ui.rs"

[dependencies]
gpui = { workspace = true }
icons = { workspace = true }
smallvec = { workspace = true }
theme = { workspace = true }
