[package]
name = "settings_macros"
version.workspace = true
license.workspace = true
authors.workspace = true
edition.workspace = true
publish.workspace = true

[lints]
workspace = true

[lib]
proc-macro = true
path = "src/settings_macros.rs"

[dependencies]
quote = { workspace = true }
syn = { workspace = true }
