[package]
name = "ui_macros"
version.workspace = true
license.workspace = true
authors.workspace = true
edition.workspace = true
publish.workspace = true

[lints]
workspace = true

[lib]
path = "src/ui_macros.rs"
proc-macro = true

[dependencies]
quote = { workspace = true }
syn = { workspace = true }

[dev-dependencies]
component = { workspace = true }
ui = { workspace = true }
